* {
  box-sizing: border-box;
  font-family: sofia-pro-soft, sans-serif;
  font-weight: 300;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #ebe6e2;
}

.App {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}